@using Sports_API.Areas.NFLScraper.Models
@model List<Sports_API.Areas.NFLScraper.Models.MultiTeamItem>
@{
    ViewData["Title"] = "NFL Teams";
}

<div class="container text-center">
    <h2>NFL Teams</h2>
    
    <table class="table table-striped table-bordered table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Logo</th>
            </tr>
        </thead>
        <tbody>
            @if (Model is { Count: > 0 })
            {
                @foreach (MultiTeamItem team in Model)
                {
                    <tr>
                        <td>
                            <a asp-area="NFLScraper" asp-controller="Team" asp-action="NFLTeam" asp-route-team="@team.DisplayName" asp-route-abbr="@team.Abbreviation" style="color: #@team.Color">@team.DisplayName</a>
                        </td>
                        <td><img src='@Url.Content($"~/favicons/{team.DisplayName}.png")' alt="@team.DisplayName" /></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-muted">No Teams Found</td>
                </tr>
            }
        </tbody>
    </table>
</div>