@using Newtonsoft.Json
@using VideoConvert.JSON
@model VideoServer.Models.VideoViewModel
@{
    ViewData["Title"] = "TNA Videos";
}

<div class="container text-center">
    <h2>TNA Videos</h2>
    
    <div class="mb-3 border rounded p-2 w-75 mx-auto">
        <form asp-action="ProcessForm" method="post" class="justify-content-center p-2">
            <label for="addVideoName" class="form-label fs-4">Add New Video Name</label>
            <input type="text" name="VideoName" class="form-control text-center shadow-none mb-2" id="addVideoName" placeholder="Video Name"/>
            <label for="addVideoUrl" class="form-label fs-4">Add New Video URL</label>
            <input type="text" name="VideoUrl" class="form-control text-center shadow-none mb-2" id="addVideoUrl" placeholder="Video URL"/>
            <button type="submit" class="btn btn-primary">Add Video</button>
        </form>
    </div>
    
    @if (!Model.Videos.Any())
    {
        <p class="text-center">No TNA Videos Found</p>
    }
    else
    {
        <div id="video-row" class="row">
            @foreach (Video video in Model.Videos)
            {
                string tagList = video.Tags != null ? string.Join(",", video.Tags) : string.Empty;
                string positionList = video.Positions  != null
                    ? JsonConvert.SerializeObject(video.Positions)
                    : "[]";
                
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="image-poster card-img-top" src="" alt="@video.Name" />
                        <div class="card-body">
                            <h5 class="card-title">@video.Name</h5>
                            <button class="btn btn-primary watch-button" data-name="@video.Name" data-url="@video.Source" data-tags="@tagList" data-positions="@positionList">Watch</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div id="tag-wrapper" class="tag-wrapper" style="display:none;">
            <span class="tag-to">Tags:</span>
            <ul class="tags" id="tag-list"></ul>
        </div>
        
        <h2 id="video-name"></h2>
    
        <div id="video-player-container" style="display: none">
            <partial name="_VideoPlayer"/>
        </div>
    }
</div>

<script type="module" src="~/js/nsfw.js" asp-append-version="true"></script>